@media screen and (max-width: 600px) {
    
    header .logo {
        font-size: 25px;
    }
    .capa-principal {    
        background: linear-gradient(rgba(0,0,0,.80), rgba(0,0,0,.80)100%), url('../img/inicio/div1.jpg');
    }

    header .container {
        margin: 0 10px;
    }

    .btn-login {
        font-size: .9rem;
        padding: 5px;
        height: 28px;
        width: 55px;
    }
    select {
        margin-right: 5px;
        padding: 3px;
    }
    .capa {
        display: flex;
        align-items: flex-start;
    }
    .titulo {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        line-height: 1.1;
    }
    .sub-titulo {
        font-size: 1.1rem;
    }
   
    .botao p, .botao-question p {
        font-size: 1.1rem;
        padding-bottom: 16px;
        max-width: 350px;
        margin: 0 auto;
    }
    .btn-frase {
        font-size: 1rem;
    }
    .capa-principal {
        height: 500px;
    }
    .card .container {
        width: 100%;
    }
    .card-devices  {
        display: flex;
        flex-direction: column;
    }
    .card-devices-first-img {
        display: flex;
        flex-direction: column-reverse;
    }
    .card-devices .card-text {
        width: 95%;
        margin-top: 40px;
        text-align: center;
    }
    
    .card-text .sub-titulo {
        font-size: 1.2rem;
        text-align: center;
    }

    .card-img {
        width: 100%;
        margin-bottom: 50px;
        align-items: center;
    }

    .card-devices .phone  {
        width: 100%;
        margin-left: 0;
    }

    .card-questions .container {
        width: 100%;
        padding-top: 3rem;
    }
    .card-title h1 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .question-title h2 {
        font-size: 1.2rem;
        margin: 5px;
    }
    .question-title, .question-text{
        align-items: center;
        background-color: #303030;
        max-width: 460px;
    }
    
    .plus-icon, .minus-icon {
        font-size: 18px;
    }
    .question-text p {
        font-size: 1.1rem;
        padding-bottom: .3rem;
        margin: 10px;
    }
}   
@media (min-width: 601px) and (max-width: 805px) {
    
    .capa-principal {
        height: 600px;
    }
    .card-devices .card-text {
        width: 95%;
        margin-top: 40px;
        text-align: center;
    }
    .card .container {
        width: 100%;
    }
    .card-title h1 {
        font-size: 2rem;
    }
    .card-devices  {
        display: flex;
        flex-direction: column;
    }
    .card-devices-first-img {
        display: flex;
        flex-direction: column-reverse;
    }
    .question-title, .question-text {
        max-width: 600px;
    }
}   

@media screen and (max-width: 375px) {
    
    header .logo {
        font-size: 20px;
    }
    .capa-principal {    
        background: linear-gradient(rgba(0,0,0,.80), rgba(0,0,0,.80)100%), url('../img/inicio/div1.jpg');
    }

    .question-title, .question-text{
        align-items: center;
        background-color: #303030;
        max-width: 370px;
    }
    
    .plus-icon, .minus-icon {
        font-size: 15px;
    }
    .question-title h2 {
        font-size: 1rem;
    }
    .question-text p {
        font-size: 1rem;
    }   
}   