@media screen and (max-width: 600px) {
    
    header .container {
        display: flex;
        flex-direction: column;
    }

    .botao {
        margin-top: 5px;
        width: 190px;
    }

    .hide p {
        font-size: 23px;
        line-height: 1.5;
        height: 300px;
        width: 350px;
    }
    .filme-principal {
        background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/capa2.jpg');
        background-size: cover;
    }

    .filme-principal .descricao {
        margin: 50px 0 40px 0;
        font-size: 20px;
    }
    .filme-principal .titulo {
        display: none;
    }
}

@media (max-width: 375px) {

    header .logo {
        margin-right: 8px;
        font-size: 30px;
    }

    header nav a {
        margin-left: 8px;
        font-size: 18px;
    }

    .filme-principal {
        background: linear-gradient(rgba(0,0,0,.30), rgba(0,0,0,.30)100%), url('/capa2.jpg');
        background-size: cover;
    }

    .filme-principal .descricao {
        margin: 20px 0 40px 0;
        font-size: 20px;
    }
    .filme-principal .titulo {
        display: none;
    }

    .hide p {
        font-size: 18px;
        line-height: 1.3;
        text-align: center;
        height: 280px;
        width: 320px;
    }
}

@media screen and (min-width: 601px) and (max-width: 1100px) {
    
    .hide p {
        font-size: 14px;
        line-height: 1.2;
        text-align: center;
        height: 160px;
    }

    .btn-img {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1000px) {
    .descricao {
        width: 50%;
    }
}